body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.add-question {
  display: flex;
  width: 100%;
  background-color: #fff;
  border: 1px solid #eee;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(66, 42, 42, 0.19);
  height: 100vh;
  justify-content: center;
}

.add-question-container {
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 800px;
}

.head-title {
  display: flex;
  width: 100%;
}

.head-title > h1 {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 30px;
}

.question-container {
  display: flex;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #eee;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(66, 42, 42, 0.19);
}

.question-options {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.question-option {
  /* display: flex; */
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.title {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  font-size: 1rem;
}

.title > h3 {
  color: #333;
  font-weight: 500;
}

.title > small {
  color: #999;
}

.title > input {
  margin: 5px 0px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
}

.title > input::placeholder {
  color: #ddd;
}

.title > input:focus {
  border: 1px solid #0054ff;
  box-shadow: 0 4px 8px 0 #0055ff23, 0 6px 20px 0 #0055ff11;
}

.quill {
  height: 100%;
}

.react-quill {
  margin: 10px 0;
  border-radius: 10px;
}

.ql-editor {
  height: 200px;
}

.button {
  max-width: fit-content;
  margin: 10px 0px;
  background-color: #0054ff;
  color: #fff;
  font-weight: 500;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0044cc;
}
